# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Heist.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Other\Unity\Projects\Heist\.idea\.idea.Heist\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
